body{
	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');
	font-family: Montserrat;
	box-sizing: border-box;
}

html, ul, ol, li, form, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.wrapper {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	// padding: 0 20px;
}